<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Global Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-title style="padding:15px" class="ion-text-start">Time related statistics</ion-card-title>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Trash areas added this month:</ion-label>
        <ion-label class="ion-text-end">{{thisMonthRecorded}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Trash areas added today:</ion-label>
        <ion-label class="ion-text-end">{{thisDayRecorded}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Trash areas added this hour:</ion-label>
        <ion-label class="ion-text-end">{{thisHourRecorded}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Trash areas cleaned this month:</ion-label>
        <ion-label class="ion-text-end">{{thisMonthCleaned}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Trash areas cleaned today:</ion-label>
        <ion-label class="ion-text-end">{{thisDayCleaned}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Trash areas cleaned this hour:</ion-label>
        <ion-label class="ion-text-end">{{thisHourCleaned}}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>