<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Global Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-title style="padding:15px" class="ion-text-start">Time related trash areas statistics</ion-card-title>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Added this month:</ion-label>
        <ion-label class="ion-text-end">{{thisMonthRecorded}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Added today:</ion-label>
        <ion-label class="ion-text-end">{{thisDayRecorded}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Added this hour:</ion-label>
        <ion-label class="ion-text-end">{{thisHourRecorded}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cleaned this month:</ion-label>
        <ion-label class="ion-text-end">{{thisMonthCleaned}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cleaned today:</ion-label>
        <ion-label class="ion-text-end">{{thisDayCleaned}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cleaned this hour:</ion-label>
        <ion-label class="ion-text-end">{{thisHourCleaned}}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>